/* Global */
:root {
  /* App Colors */
  --color-primary: var(--color-black);
  --color-accent: var(--color-blue);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);

  /* Colors */
  --color-white: #ffffff;
  --color-black: #050a13;
  --color-blue: #03e8f9;
  --color-orange: #fd6413;

  /* Size */
  --size--max--width: 1200px;
}

* {
  box-sizing: border-box;
}

body {
  font-optical-sizing: auto;
  font-family: Syncopate, "Noto Sans KR";
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: 0;
  border: 0;
}

/* Commom */

.section {
  padding: 4rem;
  text-align: center;
}

/* .max-container {
  max-width: var(--size--max--width);
  margin: auto;
} */

/* Scroll */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
}

/* Header */

.header {
  top: 0;
  left: 0;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.main_home {
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 4.5rem;
  margin: 4rem;
}

.navigation {
  display: flex;
  border: 2px solid black;
  background-color: transparent;
  overflow: hidden;
  height: 50px;
  border-radius: 50px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: 5rem;
  margin-top: 1rem;
  width: 25rem;
  height: 2.5rem;
  align-items: center;
}

.navigation li {
  flex: 1;
}

.navigation a {
  display: block;
  text-align: center;
  line-height: 2.5rem;
  color: black;
  height: 100%;
  border-radius: 50px;
  font-size: 0.7rem;
}

.navigation a.selected {
  background-color: black;
  color: white;
}

.nav_side1 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 30px;
  font-size: 0.7rem;
  padding: 10px;
  margin-right: 0.7rem;
  width: 6rem;
  height: 2.5rem;
}

.nav_side1 a {
  color: #000000;
  font-weight: 300;
}

.nav_side2 {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  border-radius: 30px;
  font-size: 0.7rem;
  padding: 10px;
  background-color: #000000;
  margin-right: 2rem;
  height: 2.5rem;
}

.nav_side2 a {
  color: #ffffff;
  font-weight: 300;
}

.main_container {
  padding: 0.9rem;
}

.header.scrolled {
  background-color: #000000;
  width: 100%;
  height: 4.5rem;
}

.header.scrolled .main_home {
  color: #ffffff;
}

.header.scrolled .navigation a {
  font-weight: 300;
  color: #ffffff;
}

.header.scrolled .navigation a.selected {
  background-color: white;
  color: black;
}

.header.scrolled .navigation {
  border: 2px solid white;
}

.header.scrolled .nav_side1 {
  border: 2px solid white;
}

.header.scrolled .nav_side1 a {
  color: #ffffff;
}

.header.scrolled .nav_side2 {
  border: 2px solid;
  background-color: #ffffff;
}

.header.scrolled .nav_side2 a {
  color: #000000;
}

/* Home */

#home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: flex-start;
  background-color: #ffffff;
  z-index: 1;
}

.home_container {
  margin: 4rem;
  position: fixed;
}

.home_content {
  margin-top: 3rem;
  font-size: 4rem;
  line-height: 1.2;
}

.description {
  font-size: 4rem;
}

.highlight {
  font-weight: bold;
  border: 2px solid #000000;
  border-radius: 50px;
  width: 28rem;
  font-size: 3.5rem;
  text-align: center;
}

.home_content .emoji {
  margin: 0 5px;
}

.typing-text {
  display: inline-block;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid #000;
  animation: typing 2s steps(20) 1s forwards, blink 0.75s step-end 2s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-text.animation-complete {
  animation: typing 2s steps(20) 1s forwards;
  border-right: none;
}

/* About me */

#about {
  position: relative;
  z-index: 2;
  background-color: #000000;
  width: 100vw;
}

.a_title {
  font-size: 3rem;
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: 5.5rem;
  text-align: center;
  font-weight: bold;
}

#about_content {
  display: flex;
  justify-content: center;
}

.me_img {
  border: solid 2px #000000;
  border-radius: 2rem;
  width: 22rem;
  height: 26rem;
  border-radius: 2rem;
  margin-top: 8rem;
  margin-left: 6rem;
}

.me_content {
  line-height: 3rem;
  margin-top: 12rem;
  text-align: left;
  margin-left: 5rem;
  color: #ffffff;
}

/* Project */

#project {
  position: relative;
  z-index: 2;
  background-color: #000000;
  width: 100vw;
}

.p_title {
  color: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  margin-top: 13rem;
  margin-bottom: 5.5rem;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.project_container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  max-width: var(--size--max--width);
  margin: auto;
}

.itemleft {
  margin-top: 7rem;
}

.project_num h2 {
  color: #ffffff;
  text-align: left;
  margin-bottom: 1rem;
}

.project_content {
  display: flex;
  gap: 5rem;
}

.img_wrapper {
  position: relative;
  width: 25rem;
  height: 22rem;
  border: 2px solid #ffffff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.img_overlay {
  position: absolute;
  z-index: 2;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project_img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  cursor: pointer;
}

.project_content:hover .img_wrapper .project_img {
  opacity: 1;
}

.project_content:hover .img_wrapper .img_overlay {
  opacity: 0;
}

.project_text {
  text-align: left;
  color: #ffffff;
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.7;
}

.skill {
  margin-left: 7rem;
  margin-top: -5rem;
}

.skill_left {
  margin-left: -7rem;
  margin-top: -8rem;
}

.skill_left2 {
  margin-top: -8rem;
  margin-left: -7rem;
}

.skill_left3 {
  margin-top: -11rem;
  margin-left: -7rem;
}

.skill span {
  text-align: left;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid;
  border-radius: 15px;
  padding: 0.6rem;
  font-weight: bold;
}

.icon-link1 {
  display: block;
  font-size: 1.7rem;
  margin-left: 30rem;
  margin-top: -1.5rem;
}

.icon-link2 {
  display: block;
  width: 1rem;
  font-size: 1.7rem;
  margin-left: 35.5rem;
  margin-top: -1.5rem;
}

.icon-link3 {
  display: block;
  width: 1rem;
  font-size: 1.7rem;
  margin-left: 36.5rem;
  margin-top: -1.5rem;
}

.icon-link4 {
  display: block;
  width: 1rem;
  font-size: 1.7rem;
  margin-left: 32.8rem;
  margin-top: -1.5rem;
}

.icon-link5 {
  display: block;
  width: 1rem;
  font-size: 1.7rem;
  margin-left: 36.5rem;
  margin-top: -1.5rem;
}

.view {
  color: #ffffff;
}

/* Progect Right */

.itemright {
  margin-top: 7rem;
}
.itemright2 {
  margin-top: 12rem;
}

.project_num .numright {
  text-align: right;
}

.contentright {
  display: flex;
  justify-content: space-between;
}

.text_right {
  text-align: left;
  color: #ffffff;
  margin-top: 3rem;
  font-size: 1rem;
  line-height: 1.7;
  margin-left: 15rem;
}

.imgright {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.skillright {
  margin-top: -5rem;
  margin-right: 30rem;
}

.skillright2 {
  margin-top: -3.5rem;
  margin-right: 32.8rem;
}

.skillright3 {
  margin-top: -8rem;
  margin-right: 43.8rem;
}

/* Footer */

#contact {
  background: #050a13;
  color: #ffffff;
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 27rem;
  position: relative;
  margin-top: 7rem;
}

.footer_me {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ffffff;
}

.f_text {
  font-size: 5rem;
  color: rgb(255, 255, 255);
  opacity: 0;
  transform: translateY(-100%);
}

@keyframes dropText {
  0% {
    transform: translateY(-100%) rotate(var(--rotate));
    opacity: 0;
  }
  50% {
    transform: translateY(10%) rotate(calc(var(--rotate) * 0.5));
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(var(--rotate));
    opacity: 1;
  }
}

/* Arrow up */

.arrow-up {
  z-index: 2;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 3rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  text-align: center;
  transition: opacity 300ms ease-in;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
}

.arrow-up.show {
  opacity: 1;
  visibility: visible;
}

.arrow_up_icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 1rem;
}

/* 반응형 */

@media screen and (max-width: 768px) {
  .section {
    padding: 3rem 2rem;
  }

  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  /* header */

  .header {
    display: flex;
    backdrop-filter: blur(9px);
  }

  .nav {
    display: flex;
    padding: 0;
    margin: 0;
  }

  .main_container {
    font-size: 0.5rem;
  }

  /* home */
  .home_title1 {
    font-size: 3.5rem;
    margin-top: 20rem;
  }

  .home_title2 {
    font-size: 3.5rem;
    margin-top: 5rem;
  }

  /* about me */

  #about_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .a_title {
    text-align: center;
    font-size: 2rem;
  }

  .me_img {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }

  .me_content {
    margin-left: auto;
    margin-right: auto;
  }

  .me_content2 {
    margin-left: auto;
    margin-right: auto;
  }

  /* project */

  .p_title {
    text-align: center;
    font-size: 2rem;
  }

  .work_img {
    width: 12rem;
    height: 12rem;
  }

  .project_title {
    margin-left: 1rem;
    font-size: 0.8rem;
  }

  .content {
    font-size: 0.8rem;
    text-align: left;
    margin-left: 1rem;
    margin-top: 0;
  }

  .content_tab {
    margin-top: 1rem;
    font-size: 0.7rem;
    width: 5rem;
    padding: 0.3rem 0.3rem;
  }

  /* footer */
  .footer_title {
    font-size: 1.2rem;
  }

  .footer_me {
    font-size: 0.7rem;
  }

  /* arrow */
  .arrow-up {
    width: 1.5rem;
    height: 1.5rem;
    bottom: 3rem;
    right: 1.5rem;
  }

  .arrow_up_icon {
    width: 1rem;
    height: 1rem;
    margin-bottom: 1.4rem;
  }
}
