/* Global */
:root {
    /* App Colors */
--color-primary: var(--color-black);
--color-primary-variant: var(--color-gray);
--color-accent: var(--color-blue);
--color-accent-variant: var(--color-orange);
--color-text: var(--color-white);

    /* Colors */
--color-white: #ffffff;
--color-black: #050a13;
--color-blue: #03e8f9;
--color-orange: #fd6413;
--color-gray: #222223;


/* Size */
--size--max--width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,h2,h3,p,ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* Commom */
.section {
    padding: 4rem;
    text-align: center;
}

.title {
    text-align: left;
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.max-container {
    max-width: var(--size--max--width);
    margin: auto;
}

/* Header */

.header {
    background-color: rgb(237, 237, 237);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 36px;
    height: 36px;
}

.header__logo__title {
    font-size: 1.8rem;
}
.header__nav {
    width: 100%;
}

.header_wrapper {
    display: flex;
    justify-content: end;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px soild var(--color-accent-variant);
}

.header__menu__item.active {
    /* border: 1px solid var(--color-accent-variant); */
    
}

/* Home */

#home {
    background-color: rgb(237, 237, 237);
    color: var(--color-text);
    padding-top: 3rem;
    text-align: center;
    height: 100vh;
    width: 100%;
}


.home__avatar {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 0.5rem none;
    border-radius: 50%;
    margin-top: 3rem;

}


.home__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;


}


.home__title {
    font-size: 7.7rem;
    height: 6rem;
    margin-bottom: 1rem;
}


.home__description {
    font-size: 2.3rem;
    /* transform: translateY(-4.5rem); */
    color: var(--color-black);

}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    color: var(--color-black);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}


@keyframes bounce{
    to{
        transform: translateY(-10px);
    }
}


.home_arrow {
    margin-top: 2rem;
    animation: bounce 0.7s infinite alternate;
    width: 2.5rem;
}



/* About me*/

#about {
    background-color: var(--color-primary);
    color: var(--color-text);
    height: 35rem;
    position: relative;

}

.about_tag {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.about_text {
    margin-top: 2rem;

    text-align: left;
}

/* Skills */

#skill {
    background-color: var(--color-primary);
    color: var(--color-text);
    height: 35rem;
    position: relative;

}
.skills_container {
    display: flex;
    gap: 8rem;
}
.skills_images {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
}

.skills_image {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
}

.skills_title {
    text-align: left;
    margin-bottom: 1.5rem;
}

.skills_image_wrapper {
    border: 1px solid;
    border-radius: 0.5rem;
    width:3.64rem;
    height: 3rem;
}

/* project */

#project {
    background-color: var(--color-primary);
    color: var(--color-text);
    position: relative;

}

/* .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1rem;
} */

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.project_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7rem;
}



.project__img{
    width: 25rem;
    height: 20rem;
    border-radius: 0.2rem;

}


.project_item {
    border-bottom: 0.5px solid #f2f2f7;
    padding-bottom : 15px;
    width: 500px;
    
}

.project_sub_title {
    text-align: left;
}

.project_title_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.text {
    text-align: left;
    margin-top: 1rem;
}


/* Arrow up */

.arrow-up {
    z-index: 100;
    background-color: rgb(231, 231, 231);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    text-align: center;
    transition: opacity 300ms ease-in;
}

.arrow_up_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1.5rem;
}

/* Footer */


.footer_title {
    font-size: 7.7rem;
}

.descriptionl {
    font-size: 3rem;
    transform: translateY(-4rem);
}

#contact {
    background-color: var(--color-primary);
    position: relative;
    color: var(--color-text);
}

.contact__links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__links:hover {
    columns: var(--color-accent);
}

.contact__link {
    transition: color 250ms ease-in;
}

.footer_me {
    color: white;
}


@media screen and (max-width : 768px) {
    .section {
        padding: 3rem 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
    }

    .header__menu {
        flex-direction: column;
        text-align: center;
        padding: 1rem 4rem;
        gap: 1rem;
    }

    .header__nav {
        width: 100%;
    }


    #home {
        padding-bottom: 3rem;
    }

    .hom__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        max-width: 25rem;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}